.fadeIn {
  animation-name: fadeIn;
}

.fadeInUp {
  animation-name: fadeInUp;
}

.fadeInRight {
  animation-name: fadeInRight;
  animation-delay: .5;
}

.sakuraFadeIn {
  animation-name: fadeIn;
  animation-delay: 1;
}

.placeDown {
  animation-name: placeDown;
  animation-delay: .4s;
  &.place-delay-2 {
    animation-delay: .9s;
  }
  &.place-delay-3 {
    animation-delay: 1.4s;
  }
}

@keyframes placeDown {
  0% {
    transform: translateY(-100%);
    @apply opacity-0;
  }
  100% {
    transform: translateY(0%);
    @apply opacity-100;
  }
}

.glassUp {
  animation-name: glassUp;
}

.start {
  animation-timing-function: ease-in-out;
  animation-direction: alternate;
  animation-play-state: running;
  animation-duration: 1s;
}

// *[data-start="true"] {
//   animation-timing-function: ease-in-out;
//   animation-direction: alternate;
// }

.infinite {
  animation-iteration-count: infinite;
}

.delay-0 {
  animation-delay: 0s;
}
.delay-1 {
  animation-delay: .1s;
}
.delay-2 {
  animation-delay: .2s;
}
.delay-3 {
  animation-delay: .3s;
}
.delay-4 {
  animation-delay: .4s;
}
.delay-5 {
  animation-delay: .5s;
}

@keyframes fadeIn {
  0% {
    @apply opacity-0;
  }
  100% {
    @apply opacity-100;
  }
}

@keyframes fadeInUp {
  0% {
    transform: translateY(100px);
    @apply opacity-0;
  }
  100% {
    transform: translateY(0px);
    @apply opacity-100;
  }
}

@keyframes fadeInRight {
  0% {
    transform: translateX(100%);
    @apply opacity-0;
  }
  100% {
    transform: translateX(0%);
    @apply opacity-100;
  }
}

@keyframes glassUp {
  0% {
    transform: translateY(100%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}